{% extends "base.html" %}
{% block content %}

<h2 style="margin-bottom:20px;">Departments</h2>

<a href="{{ url_for('department.add_department') }}" class="btn-edit" style="margin-bottom:15px; display:inline-block;">
    + Add Department
</a>

<div class="table-container">
    <table class="employee-table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Created At</th>
            </tr>
        </thead>
        <tbody>
            {% for dept in departments %}
            <tr>
                <td>{{ dept.name }}</td>
                <td>{{ dept.description }}</td>
                <td>{{ dept.created_at.strftime('%Y-%m-%d') }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}
