<!DOCTYPE html>
<html>
<head>
    <title>Employee Management System</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <style>
canvas {
    max-width: 100%;
}
</style>

</head>
<body>

<div class="dashboard-wrapper">

    <div class="sidebar">
        <h2 class="logo">EMS</h2>

       <ul class="menu">

    <!-- Always Visible -->
    <li>
        <a href="{{ url_for('employee.my_profile') }}">My Profile</a>
    </li>

    <li>
        <a href="{{ url_for('dashboard') }}">Dashboard</a>
    </li>

    <!-- Admin Only Sections -->
    {% if current_user.role == "admin" %}
    
    <li>
        <a href="{{ url_for('employee.list_employees') }}">Employees</a>
    </li>

    <li>
        <a href="{{ url_for('department.list_departments') }}">Departments</a>
    </li>

    <li>
        <a href="#">Reports</a>
    </li>

    <li>
        <a href="#">Settings</a>
    </li>

    {% endif %}

</ul>




        <div class="logout">
            <a href="{{ url_for('auth.logout') }}">Logout</a>
        </div>
    </div>

    <div class="main-content">

    <!-- Top Header -->
    <div class="top-bar">
        <div></div>
        <div class="user-info">
            Welcome, {{ current_user.username }}
            <span class="role-badge {{ current_user.role }}">
                {{ current_user.role|capitalize }}
            </span>
        </div>
    </div>

    <!-- Flash Messages -->
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <div class="flash-container">
                {% for category, message in messages %}
                    <div class="flash-message {{ category }}">
                        {{ message }}
                    </div>
                {% endfor %}
            </div>
        {% endif %}
    {% endwith %}

    {% block content %}{% endblock %}

</div>


</div>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

</body>
</html>
